* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.container {
    text-align: center;
    background-color: #021973;
    height: 100vh;
    width: 100vw;
    font-size: 30px;
}

.box1 {
    background-color: red;
    margin: 20px;
    padding: 10px;
    height: 650px;
}

.box2 {
    background-color: rgb(3, 189, 0);
    margin: 20px;
    padding: 10px;
    height: 525px;
}

.box3 {
    background-color: rgb(121, 0, 74);
    margin: 20px;
    padding: 10px;
    height: 400px;
}

.box4 {
    background-color: rgb(255, 255, 0);
    margin: 20px;
    padding: 10px;
    height: 275px;
}